.index
	bgc $white
	h 100vh
	pl vw(100)
	// background linear-gradient(180deg, rgba(37,40,73,1) 0%, rgba(37,93,186,1) 80%, rgba(38,94,187,1) 100%)
	position relative
	&:before
		content ''
		position absolute
		z-index 4
		w 77%
		h 100%
		t 0
		r vw(-200)
		background-image url(../../assets/img/bg.jpeg)
		background-size cover
		background-repeat no-repeat
		background-position center
	&:after
		content ''
		position absolute
		z-index 4
		w 77.7%
		h 100%
		t 0
		r vw(-200)
		background-image url(../../assets/img/bg.png)
		background-size cover
		background-repeat no-repeat
		background-position center
	.wrapper
		h 100%
	&__content
		position relative
		z-index 4
		h 100%
		w 45%
		bgc $white
		df(center, )
	&__btn
		position absolute
		left 50%
		top 70%
		z-index 10
		transform translateX(-50%)
		bgc $blue
		color $white
		font-size vw(30)
		line-height vw(50)
		h vw(50)
		padding 0 vw(30)
		border-radius vw(30)
		df(center, center)
		transition 0.4s background-color, 0.4s transform
		&:hover
			bgc rgba(37,93,186,0.7)
			transform scale(1.05)

	&__title
		color $blue
		text-align left
		line-height 1
		b
			// color $orange-light
			font-size vw(150)
			line-height vw(100)
			font-weight 800
			display inline-block
			position relative
			opacity 0
			transform translateY(vw(30))
			transition 0.8s opacity, 0.8s transform
			^[0][loaded] &
				opacity 1
				transform translateY(0)
			&:before
				content: ''
				position absolute
				w 100%
				h 30px
				bgc $orange
				l 0
				b -3px
				z-index -1
			&:nth-of-type(2)
				mb vw(10)
		span
			display inline-block
			opacity 0
			transform translateY(vw(30))
			transition 0.8s opacity, 0.8s transform
			^[0][loaded] &
				opacity 1
				transform translateY(0)
			&:first-of-type
				font-size vw(56)
				mb vw(30)
				transition-delay 0.4s
			&:nth-of-type(2)
				font-size vw(60)
				color $orange
				transition-delay 0.6s




