 
size($w, $h = $w)
	width $w
	height $h
	
ib($align = top)
	display inline-block
	vertical-align $align
	
fontify($fs, $fw, $lh)
	font-size $fs
	font-weight $fw
	line-height $lh

ff($name)
	font-family $name
	
oh()
	overflow hidden

w($val)
	width $val

h($val)
	height $val
	
t($val)
	top $val
	
r($val)
	right $val
	
l($val)
	left $val
	
b($val)
	bottom $val

bgc($val)
	background-color $val
	
dn()
	display none
	
db()
	display block
	
df($at = flex-start, $jc = flex-start)
	display flex
	align-items $at
	justify-content $jc
	
dfv($at = flex-start, $jc = flex-start)
	display flex
	flex-direction column
	align-items $at
	justify-content $jc
	
full()
	t 0
	r 0
	b 0
	l 0
	
pos($val)
	position $val
	
mr($val)
	margin-right $val

mt($val)
	margin-top $val

ml($val)
	margin-left $val
	
mb($val)
	margin-bottom $val
	
pr($val)
	padding-right $val

pt($val)
	padding-top $val

pl($val)
	padding-left $val
	
pb($val)
	padding-bottom $val
	
c($val)
	color $val

bb($size = 1px, $type = solid, $color = rgba($dark, .25))
	border-bottom $size $type $color
	transition .7s border-color
	&:hover
		border-color transparent

bb_invert($size = 1px, $type = solid, $color = rgba($dark, .25))
	border-bottom $size $type transparent
	transition .7s border-color
	&:hover
		border-color $color

vw($num, $def = 1440) {
	return ($num * 100 / $def) vw;
}

vm($num, $def = 640) {
	return ($num * 100 / $def) vw;
}
