$os = 'Futura'

$black = #000
$white = #fff
$aqua = #36b8c0
$orange = #fa9012
$orange-light = #ffad4b
$blue = rgba(37,93,186,1)
$blue-dark = rgba(37,40,73,1)
$blue-middle = #1e3c9c
$blue1 = #255dba
$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'
